*,
*::before,
*::after {
  box-sizing: border-box;
}

/* :root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;

  --animation-duration: 250ms;
  --animation-type: cubic-bezier(0.4, 0, 0.2, 1);
} */

body {
  background-color: #ffffff;
  color: black;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

p,
h3,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.naw_flex {
  display: flex;
}

.naw_list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.naw_list .item {
  display: flex;
}

.container {
  outline: 2px solid red;
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.header {
  color: black;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.hero {
  /* background-color: #2f303a; */
  /* background-color: #c4c4c4; */
}

.hero_bg_img {
  max-width: 1600px;
  height: 600px;
  background-image: url("./images/hero/hero-bg-img.DNG");
  /* linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), */
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ministry_container {
  background-color: black;
}

.ministry_list {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 50px;
}

.ministry_item {
  outline: 3px solid yellow;
  background-color: #fff;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.ministry_item:not(:last-child) {
  margin-right: 30px;
}

/* animation card */
/* 
.card {
  position: relative;

  height: 100%;

  border-radius: 10px;

  width: 100%;
  transform-style: preserve-3d;
}

.front,
.back {
  display: flex;

  width: 100%;
  height: 100%;

  border-radius: 10px;

  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.back {
  position: absolute;
  top: 0;
  left: 0;

  transform: rotateY(180deg);
} */

/* animation card2 */
/* .wrapper { */
/* position: absolute; */
/* width: 100%;
  height: 100%; */
/* left: 0;
  top: 0; */
/* background-color: #d5d5d5; */
/* display: flex;
  justify-content: center;
  align-items: center;
} */

.card {
  /* width: 300px; */
  /* height: 300px; */
  position: relative;
  perspective: 1000px;
  /* border: 1px solid #fff; */
}

.front,
.back {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* position: absolute; */
  transition: 1s;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}
.card:hover .front {
  transform: rotateY(180deg);
}
.card:hover .back {
  transform: rotateY(360deg);
}
